/*general*/
button{
    outline: none !important;
}

/*homePageState*/
#homePage button{
    outline: none;
}
#homePage #divider{
        content: "";
    position: relative;
    height: 4px;
    width: 60px;
    display: block;
    text-align: center;
    margin: 13px auto;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    -ms-border-radius: 5em;
    -o-border-radius: 5em;
    border-radius: 5em;
    background: #07947a
}
#homePage i{
/*    color: red;
    height: 300px;
    widows: 300px;
    font-size: 30px;
    z-index: 400;*/
}
#homePage #homeTop {
    /*height: 100vh;*/
    height: 800px; 
}
#homePage #homeTop {
  /*background: #50947a;*/
      background: linear-gradient(-45deg, #66cdcc 0%, #07947a 100%);
    position: relative;
}
#homePage #homeTop #logoImg {
    margin-left: 15%;
}
#homePage #homeTop #phoneImage{
    /*position: absolute;
    bottom: 0;
    margin-bottom: -5em;*/
    position: absolute;
    right: 50%;
    z-index: 0;
    bottom: 0;
}
#homePage #homeTop #homeHeadlinesDiv{
    position: absolute;
    right: 31%;
    bottom: 48%;
}
#homePage #homeTop h1{
    color: #fff;
    font-weight: 200;
    margin-top: 0;
    font-size: 46px;
    line-height: 65px;
}
#homePage #homeTop h3{
    color: #fff;
    font-weight: 100;
    font-size: 46px;
    line-height: 65px;
}
#homePage #homeTop button{
    border-radius: 2em;
    background: -webkit-linear-gradient(#ffffff 0%, #cccccc 100%);
    background: -o-linear-gradient(#ffffff 0%, #cccccc 100%);
    background: linear-gradient(#ffffff 0%, #cccccc 100%);
    color: #07947a;
    padding: 10px 25px;
    border-top: 0;
    border-bottom: 0;
}
#homePage #featureDiv, #homePage #screensDiv{
    /*height: 120vh;*/
    height: 800px; 
    background-color: #fff;
}
#homePage #featureDiv {
    position: relative;
}

#homePage #featureDiv h1, #homePage #screensDiv h1, #homePage #signUpHomeDiv h1{
    color: #666;
    text-align: center;
    padding-top: 1em;
    margin: 0em;
    font-size: 55px;
    font-weight: 300;
}
#homePage #featureDiv p, #homePage #screensDiv p{
    font-size: 25px;
    font-weight: 300;
    color: #999;
    text-align: center;
}
#homePage #featureDiv p{
    position: absolute;
    z-index: 0;
    margin-bottom: 2em;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}
#homePage #featureDiv #featuresContent{
    width: 80%;
    margin-left: 10%;
}
#homePage #featureDiv #leftFeatures{
    display: block;
    /*background-color: green;*/
    float: left;
    width: 33.3333333%;
    margin-top: 5em;
    margin-left: 60px;
}
.media-body{
    color: #999;
}
.media-heading{
    color: #666;
}
#homePage #featureDiv #rightFeatures {
    width: 33.333333%;
    float: right;
    /*background-color: green;*/
    display: block;
    margin-top: 5em;
}

#homePage #featureDiv img{
    /*position: fixed; */
    position: absolute;
    right: 43%;
    z-index: 0;
    bottom: 10%;
}
#homePage #featureDiv .pull-right, #homePage #featureDiv .pull-left{
    height: 72px;
    width: 72px;
    border: 2px solid #07947a;
    color: #07947a;
    border-radius: 36px;
    padding: 20px;
    margin-right: 3em;
}
#homePage #featureDiv .pull-left {
    margin-right: 1em;
}
#homePage #featureDiv .media{
    margin-top: 0px;
}
#homePage #reviewsDiv {
    /*background-color: #ccc;*/
    background-image: url("../../app/img/bk-freeze.jpg");
    height: 500px;
}
#homePage #reviewsDiv h1, #homePage #getAppDiv h1{
    text-align: center;
    padding-top: 1em;
    margin: 0em;
    font-size: 55px;
    font-weight: 300;
    color: #07947a;
}
#homePage #reviewsDiv p, #homePage #getAppDiv p{
    font-size: 25px;
    font-weight: 300;
    color: #07947a;
    text-align: center;
    margin-bottom: 85px;

}
#homePage #reviewsDiv #singleReviewDiv{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 70%;
}
#homePage #reviewsDiv #singleReviewDiv img{
    border: 3px solid #07947a;
    height: 8em;
    border-radius: 4em;

}
#homePage #reviewsDiv #singleReviewDiv #reviewTextDiv{
    background-color: #fff;
    width: 80%;
    height: 6em;
    border-radius: 1em;
    margin-right: 1em;
    float: right;
    margin-top: 1em;
    margin-left: 2em;
}
#homePage #reviewsDiv #singleReviewDiv #reviewTextDiv h3{
    color: #07947a;
    margin: 0.3em;
    font-weight: 200;
}
#homePage #reviewsDiv #singleReviewDiv #reviewTextDiv p{
    font-size: 16px;
    color: #999;
    float: left;
    margin-left: 0.3em;
    bottom: 0;
}
#homePage #screensDiv {
    background-color: #fff;
}
#homePage #screensDiv #buttonDiv{
    display: table;
    margin: 0 auto;
    padding-top: 3em;
}
#homePage #screensDiv #imageButton{
    border: 2px solid #ccc;
    color: #999;
    background-color: #fff;
    border-radius: 2em;
    margin: 0.5em;
}
#homePage #screensDiv .slick-track{
    display: inline-flex;
    overflow: hidden;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
#homePage #screensDiv .slick-slide{
    margin-left: 6em;
    margin-top: 3em;
}
#homePage #screensDiv .slick-slide img{
    border: 2px solid #ccc;
    border-radius: .5em;
    padding: 1em;
}
#homePage #screensDiv .slick-slide h4{
    text-align: center;
}
#homePage #getAppDiv {
    /*background-color: #ccc;*/
    background-image: url("../../app/img/bk-freeze.jpg");
    height: 450px;
    position: relative;
}
#homePage #getAppDiv #getAppButtonsDiv {
    margin-left: 3em;
    margin-top: 200px;
}
#homePage #getAppDiv button{
    color: #07947a;
    border-radius: 2em;
    background-color: transparent;
    border: 2px solid #07947a;
    font-weight: 800;
    width: 180px;
    height: 48px;
    text-align: right;
    padding:0px 12px;
}
#homePage #getAppDiv button span{
    font-weight: 200;
}
#homePage #getAppDiv button:hover{
    color: #fff;
    background-color: #07947a;
}
#homePage #getAppDiv #imageDiv {
    position: absolute;
    right: 0;
    z-index: 0;
    bottom: 0;
}
@media(max-width: 800px){
    #homePage #getAppDiv #imageDiv {
        display: none;
    }
}
#homePage #signUpHomeDiv{
    height: 300px;
    background-color: #fff;
}
#homePage #signUpHomeDiv #buttonDiv{
    display: flex;
}
#homePage #signUpHomeDiv button{
    background-color: transparent;
    border: 4px solid #07947a;
    border-radius: 1em;
    text-align: center;
    padding: 1em;
    color: #07947a;
    margin-top: 3em;
    font-size: 16px;
    width: 15em;
    margin-left: auto;
    margin-right: auto;
}
#homePage #signUpHomeDiv button:hover{
    color: white;
    background-color: #07947a;
}
#homePage #footer{
    height: 300px;
    /*background: #50947a;*/
    background: linear-gradient(-45deg, #66cdcc 0%, #07947a 100%);
    z-index: 50;
    position: relative;
}
#homePage #footer img{
    height: 3em;
    position: absolute;
    right: 47%;
    z-index: 0;
    bottom: 55%;
    margin-bottom: 3em;
}
#homePage #footer button{
    height: 4em;
    width: 4em;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 2em;
    color: #fff;
    margin: 0.5em;
    margin-top: 8em;
}
#homePage #footer button:hover{
    color: #07947a;
    background-color: #fff;
}
#homePage #footer #buttonDiv {
    display: table;
    margin: 0 auto;
    padding-top: 3em;
}
#homePage #footer p{
    color: #fff;
    font-weight: 100;
    text-align: center;
    margin-top: 1em;
}










/*incubeeDetailsState*/
.my-custom-stars .star-button.star-on .material-icons {
    color: #07947a;
}
.my-custom-stars .button .material-icons{
    font-size: 37px;
}
#detailPageDiv {
    background-color: #eee;
}

#detailViewContainer {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2em;
    height: 90%;
    background-color: #fff;
    box-shadow: 0 0 20px #ccc;
    border-radius: 0.75em;
    margin-bottom: 5em;
}

#detailViewContainer h5 {
    font-size: 16px;
    margin-bottom: 0;
}

#detailImagesDiv {
    padding: 1em;
    width: auto;
    max-height: 400px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

#detailImagesList li {
    display: inline-block;
    vertical-align: bottom;
}

#detailImages {
    max-height: 20em;
    margin: 1em;
    max-width: 20em;
}

#leaveReviewButton {
    color: #07947a;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

#incubeeDetailLogoImage {
    float: left;
    /*  border-radius: 25%;*/
    max-height: 10em;
    max-width: 10em;
    margin: 1em;
}

#incubeeDetailTitle {
    margin-top: .4em;
    font-size: 3em;
}

#detailRatingsLabel a i {
    margin-top: 1em;
    font-size: 2em;
}

#reviewDiv {
    margin-left: 1em;
}

#detailWebsiteLabel {
    padding-left: 0em;
    color: #4286f4;
}

#detailReviewLable {
    padding-left: 3em;
}

#detailReviewTable {
    width: 89%;
    margin-left: 5%;
}

#detailsReviewProfileImage {
    max-height: 3em;
    max-width: 3em;
    border-radius: 2em;
    vertical-align: center;
}

#detailReviewOptionsDiv {
    padding-top: 1em;
    padding-bottom: 1em;
}

#editCompanyInfoButton {
    margin: 1em;
    float: right;
    color: red;
    background-color: transparent;
    border-color: red;
}

#editCompanyInfoButton:hover{
    background-color: red;
    color: #fff;
}

#companyInfoDiv {
    display: inline-block;
}

#descriptionsDiv {
    margin: 1em 0em;
    padding: 1em 2em;
}

#highConcept {
    margin-top: 3em;
    font-size: 1.3em;
    font-weight: normal;
}

#incubeeDescription {
    width: 3em;
    height: 15%;
    resize: none;
    margin-left: 2em;
}

#companyReviewsDiv {
    border-top: 1px solid #ccc;
    padding-top: 1.5em
}

#companyReviewsDiv .leaveReview{
    width: 60%;
}

#companyReviewsDiv .leaveReview textarea{
    width: 60%;
    height: 40%;
}

#companyReviewsDiv .leaveReview img{
    height: 4em;
    border-radius: 2em;
    float: left;
    margin: 1em;
    top: 0;

}

#companyReviewsDiv .submitCancelReview {
    float: right;
}
#submitReviewButton {
    margin-top: 1em;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #07947a;
    color: #fff;
}

#reviewRating {
    width: 100%;
    text-align: center;
    margin: 1em 0;
}

#reviewPerson{
    width: 15%;
}

#reviewPerson .userReviewName{
    margin-bottom: 0;
}

.userReview:focus {
    background-color: #eee;
    outline: none;
    border: 1px solid #ccc;
}

.saveReveiwBtn, .saveReveiwBtn:focus, .saveReveiwBtn:hover {
    color: #00cc00;
    border: 1px solid #00cc00;
    margin-left: 0.5em;
}

.cancelReveiwBtn, .cancelReveiwBtn:focus, .cancelReveiwBtn:hover {
    color: #ff0000;
}

.editReveiwBtn, .editReveiwBtn:focus, .editReveiwBtn:hover {
    color: #3577f6;
}

.deleteReveiwBtn, .deleteReveiwBtn:focus, .deleteReveiwBtn:hover {
    color: #aaa;
    float: right;
}

.reviewTimestamp {
    font-weight: 400;
    color: #777;
}

#editReviewBtns button{
    background-color: transparent;
    box-shadow: none;
}

#reviewedRating {
    width: 100%;
    vertical-align: top;
    display: inline-block;
}
#reviewedRating a i {
    font-size: 15px;
}

.meetingReview, .statusReview {
    font-weight: 400;
    color: #222;
}

#statusAndMeeting {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    margin-bottom: 1em;
}

#meeting, #status {
    color: red;
}

#detailMeetingButton:focus {
    background-color: #07947a;
    color: #fff;
}

#incubeeDescription {
    width: 100%;
}

#pageContentBody {
    background-color: #eee;
}
video{
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    width: 65%;
    display: block;
}






















/*incubeesDisplayState*/
#incubeesDiv {
    margin-top: 6em;
    margin-left: 6em;
}

#incubeeDisplayDiv {
    margin: 2em;
    height: 100%;
    max-width: 100%;
    /*image is set for testing*/
    /*background-image: url('/app/img/one_light.jpg');*/
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: top;
    border: 1px solid #ccc;
    border-radius: 0.75em;
    padding: 0em !important;
    box-shadow: 0 0 20px #ccc;
    height: 25em;
}

#incubeeHeaderDiv {
    background: -webkit-linear-gradient(transparent, black);
    position: relative;
    margin-top: 9em;
    height: 20%;
    max-width: 100%;
    min-width: 100%;
    color: white;
    margin-left: 0px;
}

.my-custom-stars .star-button.star-on .material-icons #detailRatingLabel {
    color: red;
}

#likeButton {
    background-color: transparent;
    color: red;
}

#incubeeDetailsDiv {
    position: relative;
    background-color: black;
    color: #ccc;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: .1em;
    display: block;
    flex-wrap: wrap;
    bottom: 0;
    height: 100em;
}

#viewMoreButton {
    width: 100%;
    background-color: #07947a;
    color: white;
    height: 4em;
    border-bottom-right-radius: 0.75em;
    border-bottom-left-radius: 0.75em;
    border-top-right-radius: 0em;
    border-top-left-radius: 0em;
    position: absolute;
    bottom: 0;

}

.no-incubees-display h3{
    font-weight: 200;
    text-align: center;
    margin-top: 5em;
}
#noImageDisplay{
    width: 100%;
    position: absolute;
}













/*Signin Page*/

#incubeeHomePageTitle {
    text-align: center;
    font-size: 36px;
}

#googleButtonsDiv {
    top: 50%;
    position: absolute;
}

#googleSignupButton,
#googleSigninButton {
    float: left;
    outline: none;
    /*margin-top: 1em;
	margin-top: 2em;*/
}

.loginBtn {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
}

.loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
}

.loginBtn:focus {
    outline: none;
}

.loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}

.loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: #DD4B39;
}

.loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}

.loginBtn--google:hover,
.loginBtn--google:focus {
    background: #E74B37;
}
















/*Signup Page*/

#signupDiv {
    margin-top: 3%;
    margin-bottom: 2%;
    margin-left: 25%;
    width: 50%;
    padding: 1em 1em 4em 1em;
    background-color: white;
    /*padding-bottom: 1em;*/
    border-radius: 0.75em;
    box-shadow: 0 0 20px #ccc;
}

#signupObjectLabel {
    margin-bottom: 1.5em;
    float: left;
    width: 120px;
}

#signupObject {
    margin-left: 3em;
}

#signupObjectDiv {
    overflow: hidden;
    margin-bottom: 5px;
    display: inline-block;
    width: 100%;
}

#highConceptTextAreaSignup,
#companyDescriptionSignup {
    height: 7em;
    margin-left: 3em;
    width: 75%;
}

#signupObject {
    width: 75%;
}

#signupButton {
    float: right;
    margin-right: 2em;
}

#cancelSignup {
    float: left;
    margin-left: 2em;
}

#signupH1 {
    padding-bottom: .5em;
}

#signupImagepreview {
    border: 1px solid #ccc;
}

#singupImagesDisplayDiv{
/*    display: inline-block;
    margin-right: .5em;
    margin-bottom: 1em;*/

}

#signupImages {
    max-height: 17em;
    max-width: 17em;
    float: left;
}





/*Nav Bar*/

#TopNavUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .9);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    height: 5em;
    border-bottom: 3px solid #07947a;
    z-index: 5;
    box-shadow: 0 0 20px #fff;
}

#navItemLeft {
    float: left;
}

#navItemRight {
    float: right;
    cursor: pointer;
}
#TopNavUl img{
    border-radius: 6em;
    height: 3em;
    margin-top: 1em;
    float: right;
    border: none;
}
#navItemLeft #navItemAnchorLeft,
#navItemRight #navItemAnchorLeft,
#navItemAnchorRight {
    display: block;
    color: #07947a;
    text-align: center;
    font-size: 1.5em;
    padding: 1.3em .9em;
    text-decoration: none;
}
#TopNavUl .active {
    cursor: pointer;
}
#logoutYesButton {
    float: left;
    outline: none;
}

#logoutNoButton {
    float: right;
    outline: none;
}

#logoutNoButton, #logoutYesButton {
    padding-left: 2em;
    padding-right: 2em;
}

.modal-header{
    border-bottom: 0px !important;
}

.modal-header h4{
    text-align: center;
}

.modal-body input{
    margin-bottom: 1em;
}

/*ADMIN PAGE*/
.addCompanyBtn {
    float: right;
    margin: 2em 6em;
    color: #07947a;
    border-color: #07947a;
    background-color: #fff;
    width: 10%;
    outline: none;
    height: 6em;
    width: 6em;
}

.addCompanyBtn:hover{
    border-color: #fff;
    background-color: #07947a;
    color: #fff;
}























