<div id="homePage">
    <div id='homeTop'>
        <h1>incubee</h1>
        <h3>A startup hive</h3>
        <img id="phoneImage" src="/app/img/hand-freeze.png">
        <button class="btn">Get App</button>
    </div>
    <div id='featureDiv'>
        <h1>Feature</h1>
        <p>Promote your startup/product on incubee</p>
        <img id="phoneImage" src="/app/img/iphone-freeze.png">
    </div>
    <div id='reviewsDiv'>
        <h1>Reviews</h1>
        <p>Read What's The People Are Saying About Us</p>
        <div id="singleReviewDiv">
            <img src="/app/img/profilePlaceholder.jpg">
            <div id="reviewTextDiv">
                <h3>This is some text about how much I like it.</h3>
                <p>- Cam Wilox</p>
            </div>
        </div>
    </div>
    <div id='screensDiv'>
        <h1>Screens</h1>
        <p>See what’s included in the App</p>
        <div id="buttonDiv">
            <button id="imageButton" class="btn">ALL SCREENS</button>
            <button id="imageButton" class="btn">USER PROFILE</button>
            <button id="imageButton" class="btn">MESSAGES</button>
        </div>
    </div>
    <div id='getAppDiv'>
        <h1>Get App</h1>
        <p>Choose your native platform and get started!</p>
        <button class="btn">Download for Android</button>
        <button class="btn">Download for Apple iOS</button>
    </div>
    <div id='footer'>
        <h1>incub.ee</h1>
        <div id="buttonDiv">
	        <button class="btn">G</button>
	        <button class="btn">FB</button>
	        <button class="btn">TW</button>
        </div>
        <p>Copyright © 2015</p>
    </div>
</div>
