<div id="signupDiv" ng-cloak>
    <div id="signupContentDiv">
        <h1 id="signupH1">Company Signup</h1>
        <div id="signupObjectDiv">
            <label id="signupObjectLabel">Company Name</label>
            <input id="signupObject" ng-model="vm.company.company_name" type="text" name="company_name" placeholder="Company Name">
        </div>
        <div id="signupObjectDiv">
            <label id="signupObjectLabel">URL</label>
            <input id="signupObject" ng-model="vm.company.company_url" type="text" name="company_url" placeholder="Company URL">
        </div>
        <div>
            <div id="signupImagepreview"></div>
            <label id="signupObjectLabel">Images</label>
            <!-- <input type="file" file-model="vm.myFile"/> -->
            <!-- <input  name="file" ng-value="fileToUpload" value="{{fileToUpload}}" file-model="fileToUpload" set-file-data="fileToUpload = value;" type="file" id="my_file" /> -->
            <input type="file" ng-model="picFile" custom-on-change="vm.uploadMultipleFiles" multiple file-model="vm.company.images">
        </div>
        <div id="signupObjectDiv">
            <label id="signupObjectLabel">High Concept</label>
            <textarea id="highConceptTextAreaSignup" ng-model="vm.company.high_concept" name="high_concept" placeholder="High Concept or a brief description"></textarea>
        </div>
        <div id="signupObjectDiv">
            <label id="signupObjectLabel">Company/Product Description</label>
            <textarea id="companyDescriptionSignup" ng-model="vm.company.description" name="description" placeholder="Description about the company/product"></textarea>
        </div>
        <div id="signupObjectDiv">
            <label id="signupObjectLabel">Twitter</label>
            <input id="signupObject" ng-model="vm.company.twitter_url" type="ulr" name="twitter_url" placeholder="Twitter URL">
        </div>
        <div id="signupObjectDiv">
            <label id="signupObjectLabel">Video</label>
            <input id="signupObject" ng-model="vm.company.video_url" type="ulr" name="video_url" placeholder="Video URL">
        </div>
        <div id="signupObjectDiv">
            <label id="signupObjectLabel">Location</label>
            <input id="signupObject" ng-model="vm.company.location" type="text" name="location" placeholder="Location">
        </div>
        <div id="signupObjectDiv">
            <label id="signupObjectLabel">Founder Information</label>
            <input id="signupObject" ng-model="vm.company.founderInfo" type="text" name="founder" placeholder="Information about the founder">
        </div>
        <div id="signupObjectDiv">
            <label id="signupObjectLabel">Filed</label>
            <input id="signupObject" ng-model="vm.company.field" type="text" name="field" placeholder="Field">
        </div>
        <div id="signupObjectDiv">
            <label id="signupObjectLabel">Startup Phase</label>
            <select id="signupObject" ng-model="vm.company.phase" name="project_status">
                <option ng-repeat="option in vm.startupPhaseOptions" value="{{option}}">{{option}}</option>
            </select>
        </div>
        <div id="signupObjectDiv">
            <label id="signupObjectLabel">Seek Funding</label>
            <select id="signupObject" ng-model="vm.company.funding" name="funding">
                <option ng-repeat="fundingOption in vm.seekFundingOptions" value="{{fundingOption}}">{{fundingOption}}</option>
            </select>
        </div>
        <!-- <button id="signupButton" class="btn btn-success" ng-click="vm.signupIncubee(vm.companyName, vm.companyUrl, vm.companyLogo, vm.highConcept, vm.description, vm.twitterUrl, vm.videoUrl, vm.location, vm.founderInfo, vm.field, vm.phase, vm.funding)">{{vm.uploadButtonText}}</button> -->
        <button id="signupButton" class="btn btn-success" ng-click="vm.signupIncubee(vm.token)">{{vm.uploadButtonText}}</button>
        <button id="cancelSignup" class="btn btn-danger" ng-click="vm.cancelSignup()">Cancel</button>
    </div>
</div>
