<body id="backgroud">
	<div id="googleButtonsDiv" class="col-sm-offset-4 col-sm-8">
    <button id="googleSigninButton" class="loginBtn loginBtn--google" ng-click="vm.signIn()">Google SignIn</button>
<!--     <button id="signupCompanyButton" ui-sref="/signupState">Signup Company</button>
    <button ui-sref="/incubeeDetailsState({incubeeId: '{{vm.incubeeId}}'})" ng-click="vm.showCompany()">Show company</button> -->
        <!-- <button ui-sref="/incubeeDetailsState({incubeeId: 'inc_952745e0-ea2e-4365-83b3-cd379072ce57'})" ng-click="vm.showCompany()">Show company</button> -->
    <!-- <button ng-click="vm.signUp()">SignUp</button> -->

</div>
</body>
